@import "tailwindcss";

button {
  @apply cursor-pointer;
}

form {
  overflow: hidden; /* Evita que los elementos se desborden cuando el layout cambia */
}

.container {
  @apply flex flex-wrap;
}

.item {
  @apply flex-grow basis-64;
}

.login-bg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("/img/login-bg.webp");
  background-size: contain;
}

.header-bg {
  background-image: url("/img/header-bg.png");
  background-size: contain;
}
